<!DOCTYPE html>
<html lang="en" style="background-color: rgb(240, 245, 243)">
  <head>
    <%- include('./common/head-simple'); %>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/Normalize.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./common/header-full'); %>
    <div class="sub-nav"></div>
    <div class="main">
    </div>
  </body>
</html>
