<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="nav">
    <a href="/"><img src="images/logo.svg" alt="" id="logo" /></a>
    <div class="nav-items">
      <div class="sub-menu">
        <a href="">Category</a>
        <div class="nav-content">
          <div class="sub-nav-content"><a href="">Cats</a>
            <div class="sub-nav-content1">
              <a href="">Eat</a>
              <a href="">Accessories</a>
              <a href="">Medicines</a>
            </div>
          </div>
          <div class="sub-nav-content"><a href="">Dogs </a>
            <div class="sub-nav-content2">
              <a href="">Eat</a>
              <a href="">Accessories</a>
              <a href="">Medicines</a>
            </div>
          </div>
        </div>
      </div>
      <div class="text">
        <a href="/form" class="agregar">
          Add Product <img src="images/add.png" alt="articulo" />
        </a>
      </div>
    </div>
  </div>
  <div class="nav-padding"></div>
</body>
</html>